langchain
openAI
google-search-results
pypdf
chromadb
unstructured[local-inference]
# pysqlite3
# apscheduler
tiktoken
faiss-cpu
# pinecone-client
fastapi
uvicorn
typing-inspect==0.8.0
typing_extensions==4.5.0